<section class="user-container d-flex-col">
  <%= render partial: 'users/user_card', object: @user, as: :user %>

  <%= render partial: 'posts_comments', collection: @posts, as: :post %>
  
  <div class="d-flex btn-nav">
    <button class="pagination">
      <%= link_to 'Pagination', users_path %>
    </buttton>
    <%= navigation_buttons %>
  </div>
</section>
<span class="tests">List of posts, general views</span>