/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .tests {
  display: none;
 }

.d-flex {
  display: flex;
  justify-content: center;
 }

 .d-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 body {
  margin: 0;
  padding: 0;
 }

 .info-container {
  justify-content: space-between;
 }

 .info-container img {
  width: 32%;
 }

 .user-container {
  width: 90%;
  gap: 20px;
  padding-top: 24px;
 }

 .user-info {
  flex-direction: column;
  width: 60vw;
  text-align: end;
  justify-content: end;
 }

 .user-info h3 {
  justify-content: left;
 }

 a {
  text-decoration: none;
  color: black;
  gap: 20px;
 }

 .border {
  border: 1px solid black;
  padding: 10px;
 }

 .no-post {
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
 }

 .post-container,
 .btn-nav {
  gap: 10px;
 }

 h3 {
  margin-top: 0;
 }

 .counters {
  justify-content: end;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 12px;
 }

 .comments-list {
  list-style: none;
  margin-top: 2px;
  width: 93%;
 }

 .comments-list p {
  margin: 2px;
 }

 .post-detail h3 {
  margin: 0;
 }

 .btn-nav {
  margin-bottom: 15px;
 }

 .btn-nav button {
  width: 100px;
  height: 30px;
 }

 @media (min-width: 580px) {
  .info-container {
    width: 80%;
  }

  .bio {
    width: 76%;
  }

  .post-container,
  .comments-list,
  .post-detail {
    width: 87%;
  }
 }

 @media (min-width: 768px) {
  .info-container {
    justify-content: center;
  }

  .user-container h3 {
    font-size: 25px;
  }

  .counters {
    font-size: 16px;
  }

  .info-container img {
    width: auto;
  }

  .user-info {
    width: 450px;
  }
  
  .bio,
  .post-container,
  .comments-list,
  .post-detail {
    width: 619px;
  }
 }

 @media (min-width: 964px) {
  .info-container {
    width: 70%;
  }

  .bio {
    width: 618px;
  }
 }

 @media (min-width: 1130px) {
  .info-container {
    width: 900px;
  }

  .user-info {
    width: 600px;
  }

  .bio,
  .post-container,
  .comments-list,
  .post-detail {
    width: 770px;
  }
 }
 